*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.container{
    width: 100%;
    height: 100vh;

}

 a{
    text-decoration: none;
}

.logo{
    position: relative;
    left: 90px;
    top: 54px;
}

.logo a{
    color: #2f2e41;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 1.5px;
    text-shadow: 2px,2px,30px rgba(0, 0, 0, 0.2);
}

.SrcArea{
    position: fixed;
    right: 90px;
    top: 47px;
    width: 170px;
    height: 45px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
    border: 1px solid rgb(248, 246, 246);
    box-sizing: border-box;
    z-index: 1;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.096);
}

.searchbox input{
    width: 90px;
    height: 20px;
    border: none !important;
    outline: none;
    color: #2f2e41;
    background-color: transparent;
    font-size: 1rem;
    padding: 0px 10px;
}

.searchbox input::placeholder{
    font-weight: 400;
    font-family: Poppins;
    letter-spacing: 1px;
    font-size: 1rem;
    color: #1D1D1D;
}

.section1{
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(-15%, -50%);
}

.section1 img{
    height: 300px;
}

.section1button{
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-90%, -50%);
}

.section1button h1, h2{
    font-family: Roboto;
    font-weight: bold;
    font-size: 4rem;
    letter-spacing:3px;
    line-height: 60px;
    text-shadow: 2px 2px 30px rgba(0, 0, 0, 0.08);
    margin: 0px;
    text-transform: uppercase;
}

span{
    color: rgba(42, 88, 238, 0.856);
}

.section1button h1{
    letter-spacing: 28px;
}

.btn{
    width: 150px;
    height: 40px;
    background-color: #2f2e41;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 1rem;
    border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: calibri;
    font-weight: 600;
    outline: none;
    border: transparent !important;
    cursor: pointer;

}

.btn:hover{
    background-color: rgba(42, 88, 238, 0.856);
    transition: ease-in all 0.5s;
}


.iconArea{
    position: fixed;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 2px 2px 20px rgba(0, 0, 0 ,0.2);
    padding: 5px 0px;
    z-index: 1;
}


.iconArea a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
}


.iconArea a i{
    color: rgba(16, 17, 82, 0.8);
}

.iconArea a:hover .fa-facebook-f{
    color: rgb(123, 52, 204);
}

.iconArea a:hover .fa-twitter{
    color: rgb(161, 79, 255);
}

.iconArea a:hover .fa-instagram{
    color: rgb(27, 0, 13);
}

.iconArea a:hover .fa-youtube{
    color: rgb(218, 0, 0);
}

.ProductSection{
    width: 85%;
    background-color: #fff;
    box-shadow: 2px 2px 30px rgba(158, 245, 0.2);
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    align-items: center;
    padding: 40px 20px;
    margin-top: -60px;
    position: relative;
    background-size: 1000px;
    border-radius: 10px;
}

.ProductSection > h3{
    font-size: 2rem;
    text-align: center;
    color: #323543;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgb(0,0,0,0.05);
    margin: 20px;
    letter-spacing: 2px;
}


.product{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0px;
    width: 100%;
}


.probox{
    width: 250px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    border-radius: 8px;
    position: relative;
    margin: 10px 30px;
}

.probox img{
    width: 180px;
}

.probox p{
    color: #4d4d4d70;
    font-family: myriad pro;
    font-size: 0.9rem;
    letter-spacing: 0.5;
}

.probox a{
    color: #2c2c2c;
    font-family: poppins;
    font-size: 1rem;
}

.bybtn{
    position: absolute;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%;
    background: linear-gradient(120deg, #6b60ec 20%, #a166f4);
    display: none;
    animation: fade 0.2s;
}

.probox:hover .bybtn{
    display: flex;
}

.probox:hover{
    box-shadow: 2px 2px 30px rgba(66, 13, 13, 0.178);
    background-color: rgb(255, 249, 249);
}


.about{
    display: flex;
    width: 85%;
    margin: 50px auto;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    margin-bottom: 80px !important;
}

.aboutbox{
    width: 40%;
}

.aboutbox img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.aboutbox h1{
    color: #131111d5;
    font-weight: 700;
    font-size: 3rem;
    margin: 0px;
}

.aboutbox h4{
    color: rgba(0, 0, 0, 0.788);
    font-weight: 400;
    font-size: 2rem;
    margin-top: 10px;
    
}

.aboutbox p{
    font-size: 1rem;
    color: #8a8585;
    letter-spacing: 0.5px;
}

.notification{
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.03);
}

.Notiinput{
    width: 500px;
    background-color: #fff;
    border-radius: 7% 7% 7% 7% / 50% 50% 50% 50%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.212);
    margin-top: 30px;
}

.Notiinput input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
}

.notibutton{
    width: 120px;
    height: 40px;
    background-color: #202020;
    border-radius: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.01);
}

.notibutton:hover{
    background-color: #6b60ec;
    transition: all ease 0.05s;
}

footer{
    background-color: black !important;
    padding: 15px;
}

footer p{
    text-align: center;
    color: #ffff;
}